body {
    background-color: white;
    height: 100%;
    font-family: Arial, sans-serif;
}

#joc {
    text-align: center;
    margin-top: 50px;
}

#mesaj {
    font-size: 1.2em;
    margin-top: 20px;
}
